.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.forms-select {
  width: 450px;
  display: flex;
}

.button {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.demo-inline-calendar-card {
  width: 450px;
}

.time-selection {
  margin-top: 20px;
}

.span-container {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.span-scheduling {
  justify-content: center;
  display: block;
  opacity: 0.6;
  align-items: center;
}
